In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 500)

%matplotlib inline

In [38]:
url = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/df_pt1%262_merged.csv"

# CHECK CLEAN DOWNLOAD DATA FRAMES... here was not inplace the "date_time"

In [39]:
df = pd.read_csv(url)

In [40]:
df.shape #(rows:317,235, columns:12)

(744641, 10)

In [41]:
df.head(20)

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,year,month,day,time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017,4,17,15:27:07
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017,4,17,15:26:51
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017,4,17,15:19:22
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017,4,17,15:19:13
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017,4,17,15:18:04
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,2017,4,17,15:17:15
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,2017,4,17,15:17:01
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,2017,4,17,15:16:22
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,2017,4,5,13:10:05
9,9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,2017,4,5,13:09:43
10,10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,2017,4,5,13:08:40
11,11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,2017,4,5,13:08:24
12,12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,2017,4,5,13:08:06
13,13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,2017,4,5,12:29:03
14,14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,2017,4,5,12:29:01
15,15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,2017,4,5,12:28:52
16,16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,2017,4,5,12:26:08
17,17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,2017,4,5,12:24:43
18,18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12,2017,4,5,12:24:12
19,19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04,2017,4,5,12:24:04

In [42]:
df = df.sort_values(by=['visitor_id', 'date_time'])
df.head(20)

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,year,month,day,time
440467,101148,5867343,100011869_84756704576,406596333_52561114200_989487,start,2017-06-05 02:47:42,2017,6,5,02:47:42
440466,101147,5867343,100011869_84756704576,406596333_52561114200_989487,step_1,2017-06-05 02:47:47,2017,6,5,02:47:47
440465,101146,5867343,100011869_84756704576,406596333_52561114200_989487,step_2,2017-06-05 02:48:03,2017,6,5,02:48:03
440464,101145,5867343,100011869_84756704576,406596333_52561114200_989487,step_3,2017-06-05 02:50:18,2017,6,5,02:50:18
440463,101144,5867343,100011869_84756704576,406596333_52561114200_989487,start,2017-06-05 02:51:11,2017,6,5,02:51:11
100461,101048,6265388,100019786_4272121951,703380671_89376183829_330646,start,2017-04-15 15:13:33,2017,4,15,15:13:33
100460,101047,6265388,100019786_4272121951,703380671_89376183829_330646,step_1,2017-04-15 15:13:46,2017,4,15,15:13:46
100459,101046,6265388,100019786_4272121951,703380671_89376183829_330646,step_2,2017-04-15 15:14:21,2017,4,15,15:14:21
100458,101045,6265388,100019786_4272121951,703380671_89376183829_330646,step_3,2017-04-15 15:15:50,2017,4,15,15:15:50
100457,101044,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:18,2017,4,15,15:16:18
100456,101043,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:47,2017,4,15,15:16:47
551650,214966,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:47,2017,6,9,18:37:47
551649,214965,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:59,2017,6,9,18:37:59
551648,214964,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:38:06,2017,6,9,18:38:06
551647,214963,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:38:41,2017,6,9,18:38:41
551646,214962,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:39:45,2017,6,9,18:39:45
551645,214961,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:39:50,2017,6,9,18:39:50
551644,214960,2340487,100026388_52569174348,560716384_55516231568_734638,step_2,2017-06-09 18:40:07,2017,6,9,18:40:07
551643,214959,2340487,100026388_52569174348,560716384_55516231568_734638,step_3,2017-06-09 18:40:54,2017,6,9,18:40:54
551642,214958,2340487,100026388_52569174348,560716384_55516231568_734638,confirm,2017-06-09 18:41:43,2017,6,9,18:41:43

In [43]:
df = df.sort_values(by=['visitor_id', 'time'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 744641 entries, 440467 to 128042
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    744641 non-null  int64
 1   client_id     744641 non-null  int64
 2   visitor_id    744641 non-null  object
 3   visit_id      744641 non-null  object
 4   process_step  744641 non-null  object
 5   date_time     744641 non-null  object
 6   year          744641 non-null  int64
 7   month         744641 non-null  int64
 8   day           744641 non-null  int64
 9   time          744641 non-null  object
dtypes: int64(5), object(5)
memory usage: 62.5+ MB

In [29]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317235 entries, 98927 to 126075
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    317235 non-null  int64
 1   client_id     317235 non-null  int64
 2   visitor_id    317235 non-null  object
 3   visit_id      317235 non-null  object
 4   process_step  317235 non-null  object
 5   date_time     317235 non-null  datetime64[ns]
 6   year          317235 non-null  int64
 7   month         317235 non-null  int64
 8   day           317235 non-null  int64
 9   time          317235 non-null  object
 10  Variation     317235 non-null  object
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 29.0+ MB

In [37]:
df['date_time'] = pd.to_datetime(df['date_time'])

# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'date_time'])

# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['date_time'].diff()

# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)

# Calculate the average time spent on each step
average_time_per_step = df.groupby('process_step')['time_spent_on_step'].mean()

# Separate into Test and Control groups
test_group = df[df['Variation'] == 'Test']
control_group = df[df['Variation'] == 'Control']
# Calculate the average time spent on each step for Test group
average_time_per_step_test = test_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_test.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Calculate the average time spent on each step for Control group
average_time_per_step_control = control_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_control.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Display results
print("Average Time per Step for Test Group:")
print(average_time_per_step_test)
print("\nAverage Time per Step for Control Group:")
print(average_time_per_step_control)

Average Time per Step for Test Group:
  process_step        average_time_spent
0      confirm 3 days 03:07:17.030166591
1        start 0 days 18:27:27.297608593
2       step_1 0 days 07:59:05.278614169
3       step_2 0 days 03:30:18.822914592
4       step_3 0 days 05:44:38.760251336

Average Time per Step for Control Group:
  process_step        average_time_spent
0      confirm 3 days 02:45:06.880217785
1        start 0 days 23:09:07.224562684
2       step_1 0 days 10:51:19.034366426
3       step_2 0 days 05:14:02.006167116
4       step_3 0 days 10:47:11.264832535

In [31]:
average_time_per_step

process_step
confirm   3 days 02:59:55.915136924
start     0 days 20:31:10.794597256
step_1    0 days 09:12:09.887294920
step_2    0 days 04:17:08.638797386
step_3    0 days 08:03:53.653460767
Name: time_spent_on_step, dtype: timedelta64[ns]

In [ ]:
# CHAT GPT:

In [ ]:
# Sample DataFrame creation (replace with your actual DataFrame)
url = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/df_pt_1%262_ABC.csv"
df = pd.read_csv(url)

df['time_stamp'] = pd.to_datetime(df['time_stamp'])

# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'time_stamp'])
# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['time_stamp'].diff()
# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)
# Calculate the average time spent on each step
average_time_per_step = df.groupby('process_step')['time_spent_on_step'].mean()

In [ ]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'timestamp'])
# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['timestamp'].diff()
# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)
# Separate into Test and Control groups
test_group = df[df['Variation'] == 'Test']
control_group = df[df['Variation'] == 'Control']
# Calculate the average time spent on each step for Test group
average_time_per_step_test = test_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_test.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Calculate the average time spent on each step for Control group
average_time_per_step_control = control_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_control.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Display results
print("Average Time per Step for Test Group:")
print(average_time_per_step_test)
print("\nAverage Time per Step for Control Group:")
print(average_time_per_step_control)