In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 500)

%matplotlib inline

In [9]:
url = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/df_pt_1%262_ABC.csv"

# CHECK CLEAN DOWNLOAD DATA FRAMES... here was not inplace the "date_time"

In [10]:
df = pd.read_csv(url)

In [11]:
df.shape #(rows:317,235, columns:12)

(317235, 11)

In [19]:
df.head(20)

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,year,month,day,time,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017,4,17,15:27:07,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017,4,17,15:26:51,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017,4,17,15:19:22,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017,4,17,15:19:13,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017,4,17,15:18:04,Test
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,2017,4,17,15:17:15,Test
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,2017,4,17,15:17:01,Test
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,2017,4,17,15:16:22,Test
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,2017,4,5,13:10:05,Test
9,9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,2017,4,5,13:09:43,Test
10,10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,2017,4,5,13:08:40,Test
11,11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,2017,4,5,13:08:24,Test
12,12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,2017,4,5,13:08:06,Test
13,13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,2017,4,5,12:29:03,Control
14,14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,2017,4,5,12:29:01,Control
15,15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,2017,4,5,12:28:52,Control
16,16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,2017,4,5,12:26:08,Control
17,17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,2017,4,5,12:24:43,Control
18,18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12,2017,4,5,12:24:12,Control
19,19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04,2017,4,5,12:24:04,Control

In [35]:
df = df.sort_values(by=['visitor_id', 'date_time'])
df.head(20)

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,year,month,day,time,Variation,time_diff,time_spent_on_step
98927,100461,6265388,100019786_4272121951,703380671_89376183829_330646,start,2017-04-15 15:13:33,2017,4,15,15:13:33,Test,NaT,0 days 00:00:13
98926,100460,6265388,100019786_4272121951,703380671_89376183829_330646,step_1,2017-04-15 15:13:46,2017,4,15,15:13:46,Test,0 days 00:00:13,0 days 00:00:35
98925,100459,6265388,100019786_4272121951,703380671_89376183829_330646,step_2,2017-04-15 15:14:21,2017,4,15,15:14:21,Test,0 days 00:00:35,0 days 00:01:29
98924,100458,6265388,100019786_4272121951,703380671_89376183829_330646,step_3,2017-04-15 15:15:50,2017,4,15,15:15:50,Test,0 days 00:01:29,0 days 00:00:28
98923,100457,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:18,2017,4,15,15:16:18,Test,0 days 00:00:28,0 days 00:00:29
98922,100456,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:47,2017,4,15,15:16:47,Test,0 days 00:00:29,NaT
296298,551650,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:47,2017,6,9,18:37:47,Test,NaT,0 days 00:00:12
296297,551649,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:59,2017,6,9,18:37:59,Test,0 days 00:00:12,0 days 00:00:07
296296,551648,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:38:06,2017,6,9,18:38:06,Test,0 days 00:00:07,0 days 00:00:35
296295,551647,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:38:41,2017,6,9,18:38:41,Test,0 days 00:00:35,0 days 00:01:04
296294,551646,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:39:45,2017,6,9,18:39:45,Test,0 days 00:01:04,0 days 00:00:05
296293,551645,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:39:50,2017,6,9,18:39:50,Test,0 days 00:00:05,0 days 00:00:17
296292,551644,2340487,100026388_52569174348,560716384_55516231568_734638,step_2,2017-06-09 18:40:07,2017,6,9,18:40:07,Test,0 days 00:00:17,0 days 00:00:47
296291,551643,2340487,100026388_52569174348,560716384_55516231568_734638,step_3,2017-06-09 18:40:54,2017,6,9,18:40:54,Test,0 days 00:00:47,0 days 00:00:49
296290,551642,2340487,100026388_52569174348,560716384_55516231568_734638,confirm,2017-06-09 18:41:43,2017,6,9,18:41:43,Test,0 days 00:00:49,NaT
18909,19190,762846,10008560_69050398598,248633003_84368331010_346467,start,2017-04-14 22:09:50,2017,4,14,22:09:50,Control,NaT,0 days 00:00:09
18908,19189,762846,10008560_69050398598,248633003_84368331010_346467,step_1,2017-04-14 22:09:59,2017,4,14,22:09:59,Control,0 days 00:00:09,0 days 00:00:43
18907,19188,762846,10008560_69050398598,248633003_84368331010_346467,step_2,2017-04-14 22:10:42,2017,4,14,22:10:42,Control,0 days 00:00:43,0 days 00:00:12
18906,19187,762846,10008560_69050398598,248633003_84368331010_346467,step_2,2017-04-14 22:10:54,2017,4,14,22:10:54,Control,0 days 00:00:12,0 days 00:00:22
18905,19186,762846,10008560_69050398598,248633003_84368331010_346467,step_3,2017-04-14 22:11:16,2017,4,14,22:11:16,Control,0 days 00:00:22,0 days 00:07:37

In [23]:
df = df.sort_values(by=['visitor_id', 'time'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317235 entries, 98927 to 126075
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    317235 non-null  int64
 1   client_id     317235 non-null  int64
 2   visitor_id    317235 non-null  object
 3   visit_id      317235 non-null  object
 4   process_step  317235 non-null  object
 5   date_time     317235 non-null  object
 6   year          317235 non-null  int64
 7   month         317235 non-null  int64
 8   day           317235 non-null  int64
 9   time          317235 non-null  object
 10  Variation     317235 non-null  object
dtypes: int64(5), object(6)
memory usage: 29.0+ MB

In [29]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317235 entries, 98927 to 126075
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    317235 non-null  int64
 1   client_id     317235 non-null  int64
 2   visitor_id    317235 non-null  object
 3   visit_id      317235 non-null  object
 4   process_step  317235 non-null  object
 5   date_time     317235 non-null  datetime64[ns]
 6   year          317235 non-null  int64
 7   month         317235 non-null  int64
 8   day           317235 non-null  int64
 9   time          317235 non-null  object
 10  Variation     317235 non-null  object
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 29.0+ MB

In [37]:
df['date_time'] = pd.to_datetime(df['date_time'])

# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'date_time'])

# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['date_time'].diff()

# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)

# Calculate the average time spent on each step
average_time_per_step = df.groupby('process_step')['time_spent_on_step'].mean()

# Separate into Test and Control groups
test_group = df[df['Variation'] == 'Test']
control_group = df[df['Variation'] == 'Control']
# Calculate the average time spent on each step for Test group
average_time_per_step_test = test_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_test.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Calculate the average time spent on each step for Control group
average_time_per_step_control = control_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_control.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Display results
print("Average Time per Step for Test Group:")
print(average_time_per_step_test)
print("\nAverage Time per Step for Control Group:")
print(average_time_per_step_control)

Average Time per Step for Test Group:
  process_step        average_time_spent
0      confirm 3 days 03:07:17.030166591
1        start 0 days 18:27:27.297608593
2       step_1 0 days 07:59:05.278614169
3       step_2 0 days 03:30:18.822914592
4       step_3 0 days 05:44:38.760251336

Average Time per Step for Control Group:
  process_step        average_time_spent
0      confirm 3 days 02:45:06.880217785
1        start 0 days 23:09:07.224562684
2       step_1 0 days 10:51:19.034366426
3       step_2 0 days 05:14:02.006167116
4       step_3 0 days 10:47:11.264832535

In [31]:
average_time_per_step

process_step
confirm   3 days 02:59:55.915136924
start     0 days 20:31:10.794597256
step_1    0 days 09:12:09.887294920
step_2    0 days 04:17:08.638797386
step_3    0 days 08:03:53.653460767
Name: time_spent_on_step, dtype: timedelta64[ns]

In [ ]:
# CHAT GPT:

In [ ]:
# Sample DataFrame creation (replace with your actual DataFrame)
url = "https://raw.githubusercontent.com/KLoVi/vanguard-ab-test/main/Datasets_cleaned/df_pt_1%262_ABC.csv"
df = pd.read_csv(url)

df['time_stamp'] = pd.to_datetime(df['time_stamp'])

# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'time_stamp'])
# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['time_stamp'].diff()
# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)
# Calculate the average time spent on each step
average_time_per_step = df.groupby('process_step')['time_spent_on_step'].mean()

In [ ]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
# Ensure the DataFrame is sorted by visitor_id and timestamp
df = df.sort_values(by=['visitor_id', 'timestamp'])
# Calculate the time difference between each step for each visitor
df['time_diff'] = df.groupby('visitor_id')['timestamp'].diff()
# Assign the time_diff to the respective step (we shift -1 to assign the difference to the correct step)
df['time_spent_on_step'] = df.groupby('visitor_id')['time_diff'].shift(-1)
# Separate into Test and Control groups
test_group = df[df['Variation'] == 'Test']
control_group = df[df['Variation'] == 'Control']
# Calculate the average time spent on each step for Test group
average_time_per_step_test = test_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_test.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Calculate the average time spent on each step for Control group
average_time_per_step_control = control_group.groupby('process_step')['time_spent_on_step'].mean().reset_index()
average_time_per_step_control.rename(columns={'time_spent_on_step': 'average_time_spent'}, inplace=True)
# Display results
print("Average Time per Step for Test Group:")
print(average_time_per_step_test)
print("\nAverage Time per Step for Control Group:")
print(average_time_per_step_control)